<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Under Construction</title>
</head>

<body class="flex items-center justify-center min-h-screen font-sans text-gray-900 m-0 p-0">

    <main class="max-w-2xl w-full px-6 text-center">
        <div class="flex justify-center">
            <div class="w-full md:w-3/4">
                <img src="./gif/original-aac8f7f838812fa53cd92617fad5f892.gif" alt="Under Construction Animation"
                    class="w-full h-auto block">
            </div>
        </div>
        <h1 class="text-4xl md:text-5xl font-light tracking-tight mb-4 text-gray-800">
            We are crafting something <span class="font-medium text-blue-500">beautiful</span>
        </h1>

        <div class="text-xs text-gray-400 font-medium uppercase tracking-[0.2em] mb-12">
            Arriving • 2026
        </div>

    </main>

</body>

</html>